@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

@if (Model != null)
{
	ViewBag.Title = Model.Name;
	<h2>@Model.Name</h2>

	<ol>
		<li>Genre: @Model.Genre.Name</li>
		<li>Release Date: @Model.ReleaseDate.ToString("D")</li>
		<li>Date Added: @Model.DateAdded.ToString("D")</li>
		<li>Number in Stock: @Model.NumberInStock</li>
	</ol>
}